* ::after, ::before {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: inline-block;
}

a {
    text-decoration: none;
    display: block;
}

ul {
    list-style: none;
}

.container {
    width: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}